# Help files
HELP.md

# General compilation folders
**/target/
**/build/

# Environment files
.env
.env.*
**/.env
**/.env.*

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# STS (Spring Tool Suite)
**/.apt_generated/
**/.classpath
**/.factorypath
**/.project
**/.settings/
**/.springBeans
**/.sts4-cache/

# IntelliJ IDEA
**/.idea/
**/*.iws
**/*.iml
**/*.ipr

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

# VS Code
**/.vscode/

# Files common to Java projects
**/*.class
**/*.log
**/*.jar
**/*.war
**/*.nar
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar
**/hs_err_pid*
**/replay_pid*